/* 導覽列的樣式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #efece5;
}

.navbar{
  padding:0.5rem;
  margin:20px;
  border-radius: 20px;
}

.nav-link{
  color: rgb(255, 255, 255);
  font-weight: 900;
  position: relative;
}

.nav-link:hover, .nav-link.active{
  color: #fff;
}

.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ff6d0b;
  visibility: hidden;
  transition:0.5s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
  width: 100%;
  visibility: visible;
}

/* 搜尋列 */
.formSet{
  margin: 20px;
}

/* 今日商品幻燈片 */
.ItemImage{
  margin:50px 10%;
}

.TodayItemImage{
  margin:0 2% 0 0;
  width: 50%;
}

.ImgItem{

}

.MarkerdownItemImage{
  width: 50%;
}

@media screen and (max-width: 1000px) {
  /* 測攔 */
  .sidebar {
    background-color: rgba(43, 45, 45, 0.15);
    /* 背景模糊 */
    backdrop-filter: blur(100px);
  }
  .nav-link::before {
    display: none;
  }
}
