/* 導覽列的樣式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #efece5;
}

.navbar{
  padding:0.5rem;
  margin:20px;
  border-radius: 20px;
}

.nav-link{
  color: rgb(255, 255, 255);
  font-weight: 900;
  position: relative;
}

.nav-link:hover, .nav-link.active{
  color: #fff;
}

.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ff6d0b;
  visibility: hidden;
  transition:0.5s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
  width: 100%;
  visibility: visible;
}

/* 搜尋列 */
.formSet{
  margin: 20px;
}

/* ========================================= */
/* 商品類別 */

/* 商品類別(標頭) */
.cateTitle{
  font-size: 80px;
  font-weight: 1000;
  text-align: center;
  margin-top: 50px;
}

/* 商品類別 */
.categoryItem{
  background-color: rgb(234, 182, 99);
  margin: 50px 100px;
  padding: 50px;
  border-radius: 50px;
}

.item{
  background-color: #fff;
  border-radius:50px;
}

.item img{
  border-radius:50px 50px 0 0 ;
}

.item p{
  font-size: 40px;
  font-weight: 1000;
  text-align: center;
  padding: 20px;
}

/* ========================================= */
/* 商品特價區設定 */

.ItemImage{
  margin:50px 10%;
  height: 100%;
}
/* 今日商品幻燈片 */
.TodayItemImage{
  margin-right:2%;
  width: 50%;
  height: 100%;
}
.TodayItemImage .carousel-inner{
  border-radius: 30px;
  height: 100%;
}

/* 降價跟熱銷商品容器 */
.markdownAndSellWell{
  width:50%;
}

/* 降價商品 */
.markdownItemImage{
  text-align: center;
  background-color: rgb(42, 46, 46);
  width: 100%;
  padding: 10px 60px;
  border-radius: 30px;
}

/* 降價商品左箭頭 */
.markdownItemImage .carousel-control-prev{
  left: -15%;
}
/* 降價商品右箭頭 */
.markdownItemImage .carousel-control-next{
  right: -15%;
}

/* 熱銷商品 */
.sellWellItemImage {
  text-align: center;
  background-color: rgb(63, 161, 163);
  width: 100%;
  padding: 10px 60px;
  margin-top:20px;
  border-radius: 30px;
}

/* 熱銷商品左箭頭 */
.sellWellItemImage .carousel-control-prev {
  left: -15%;
}

/* 熱銷商品右箭頭 */
.sellWellItemImage .carousel-control-next {
  right: -15%;
}

/* 箭頭圖標(左) */
.carousel-control-prev-icon{
  background-color: #000000;
  padding: 20px;
  border-radius: 50%;
}
/* 箭頭圖標(右) */
.carousel-control-next-icon{
  background-color: #000000;
  padding: 20px;
  border-radius: 50%;
}

/* 主題商品標頭 */
.commodityHeader{
  padding:20px 20px 0 20px;
}

/* 主題商品標頭文字 */
.commodityHeader p{
  font-size: 50px;
  font-weight: 1000;
  color: #fff;
}

/* 降價商品內容 */
.item-box{
  background-color: #efece5;
  border-radius:20px;
}

/* 商品圖片 */
.item-img{
  width: 100%;
  border-radius: 20px;
}
/* 商品圖片 */
.item-img img{
  width: 100%;
  border-radius:20px 20px 0 0 ;
}

/* 商品文字 */
.item-text{
  text-align: center;
}
/* 商品文字 */
.item-text p{
  font-size: 15px;
  color: black;
}

/* ========================================= */
/* 商品喜愛區設定 */

.favoriteAndEveFavorite{
  margin: 50px 10%;
}

/* 個人喜愛商品 */
.favoriteItemImage {
  text-align: center;
  background-color: rgb(63, 161, 163);
  width: 100%;
  padding: 10px 60px;
  margin-top: 20px;
  border-radius: 30px;
}

/* 個人喜愛商品左箭頭 */
.favoriteItemImage .carousel-control-prev {
  left: -10%;
}

/* 個人喜愛商品右箭頭 */
.favoriteItemImage .carousel-control-next {
  right: -10%;
}

/* 個人喜愛商品 */
.EveryoneFavorite_ItemImage {
  text-align: center;
  background-color: rgb(63, 161, 163);
  width: 100%;
  padding: 10px 60px;
  margin-top: 20px;
  border-radius: 30px;
}

/* 個人喜愛商品左箭頭 */
.EveryoneFavorite_ItemImage .carousel-control-prev {
  left: -10%;
}

/* 個人喜愛商品右箭頭 */
.EveryoneFavorite_ItemImage .carousel-control-next {
  right: -10%;
}

@media screen and (max-width: 600px) {
  .EveryoneFavoriteItem .commodityHeader{
    font-size: 5px;
  }
}

@media screen and (max-width: 1200px) {
  /* 測攔 */
  .sidebar {
    background-color: rgba(43, 45, 45, 0.15);
    /* 背景模糊 */
    backdrop-filter: blur(100px);
  }
  .nav-link::before {
    display: none;
  }

  /* 今日商品幻燈片 */
  .TodayItemImage{
    margin-bottom:10px;
    width: 100%;
  }

  /* 降價跟熱銷商品容器 */
  .markdownAndSellWell{
    width: 100%;
  }

  /* 商品類別(標頭) */
  .cateTitle{
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
    margin-top: 50px;
  }

  /* 商品類別 */
  .categoryItem{
    background-color: rgb(234, 182, 99);
    margin: 20px 20px;
    padding: 20px;
    border-radius: 50px;
  }

  /* 商品類別文字 */
  .item p{
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    padding: 30px;
  }

  .commodityHeader p{
    font-size: 25px;
    font-weight: 1000;
    color: #fff;
  }
}
