/* 導覽列的樣式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #efece5;
}

.navbar{
  padding:0.5rem;
  margin:20px;
  border-radius: 20px;
}

.nav-link{
  color: rgb(255, 255, 255);
  font-weight: 900;
  position: relative;
}

.nav-link:hover, .nav-link.active{
  color: #fff;
}

.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ff6d0b;
  visibility: hidden;
  transition:0.5s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
  width: 100%;
  visibility: visible;
}

/* 搜尋列 */
.formSet{
  margin: 20px;
}

/* ========================================= */
/* 商品類別 */

/* 商品類別(標頭) */
.cateTitle{
  font-size: 80px;
  font-weight: 1000;
  text-align: center;
  margin-top: 50px;
}

/* 商品類別 */
.categoryItem{
  background-color: rgb(234, 182, 99);
  margin: 50px 100px;
  padding: 50px;
  border-radius: 50px;
}

.item{
  background-color: #fff;
  border-radius:50px;
}

.item img{
  border-radius:50px 50px 0 0 ;
}

.item p{
  font-size: 40px;
  font-weight: 1000;
  text-align: center;
  padding: 20px;
}

/* ========================================= */
/* 商品特價區設定 */

.ItemImage{
  margin:50px 10%;
}
/* 今日商品幻燈片 */
.TodayItemImage{
  margin:0 2% 0 0;
  width: 50%;
}
.carousel-inner{
  border-radius: 30px;
}

/* 降價商品 */
.markdownItemImage{
  position: relative;
  background-color: rgb(42, 46, 46);
  width: 50%;
  height: 60%;
  padding: 0 50px;
  border-radius: 30px;
}

/* 左箭頭 */
.markdownItemImage .carousel-control-prev{
  position: absolute;
  background-color: #ff6d0b;
  border-radius: 50%;
  width: 6%;
  height: 20%;
  top: 60%;
  left: -4%;
}
/* 右箭頭 */
.markdownItemImage .carousel-control-next{
  position: absolute;
  background-color: #ff6d0b;
  border-radius: 50%;
  width: 6%;
  height: 20%;
  top: 60%;
  right: -4%;
}

/* 降價商品標頭 */
.markdownHeader{
  padding:10px 30px 0;
}

/* 降價商品標頭文字 */
.markdownHeader p{
  font-size: 50px;
  font-weight: 1000;
  color: #fff;
  margin: 30px 0;
}

/* 降價商品內容容器 */
.markdownItem-box{
  padding:0 30px ;
}

.priceReduction-text{
  text-align: center;
  opacity: 0.1;
}

.priceReduction-text p{
  color: #f5f5f5;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  /* 測攔 */
  .sidebar {
    background-color: rgba(43, 45, 45, 0.15);
    /* 背景模糊 */
    backdrop-filter: blur(100px);
  }
  .nav-link::before {
    display: none;
  }

  /* 今日商品幻燈片 */
  .TodayItemImage{
    margin:0 2% 0 0;
    width: 100%;
  }

  /* 降價商品 */
  .markdownItemImage{
    width: 100%;
  }

  /* 商品類別(標頭) */
  .cateTitle{
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
    margin-top: 50px;
  }

  /* 商品類別 */
  .categoryItem{
    background-color: rgb(234, 182, 99);
    margin: 20px 20px;
    padding: 20px;
    border-radius: 50px;
  }

  /* 商品類別文字 */
  .item p{
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    padding: 30px;
  }
}
